@charset "utf-8";
@import 'reset';
@import 'style';
@import 'grid';
@import 'font-awesome';
@import 'fancybox';
@import 'jquery.fancybox-buttons';

.img-polaroid {
  margin-right: 15px;
  background: white;
  border: solid 1px #C5C5C5;
  padding: 4px 4px 4px 4px;
}
