<div class="row">
  <div class="offset3 span5">
    <form>
      <fieldset>
        <legend>Napisz do nas</legend>
        <label>Email</label>
        <input class="span5" type="email" placeholder="">
        <label>Treść</label>
        <textarea class="span5" rows="5"></textarea>

        <div class="form-actions">
          <%= link_to "Wyślij", "/thank_you.html", class: "btn-large btn-primary" %>
        </div>
      </fieldset>
    </form>
  </div>
</div>
