Gallery
<% w = 200 %>
<% h = 150 %>
<% row_count = 5 %>
<% column_count = 5 %>
<div class="row">
  <div class="offset1 span10">
    <% row_count.times do |row_index| %>
      <div class="row">
        <% column_count.times do |column_index| %>
          <div class="span2">
            <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"img-polaroid", style: "margin-bottom: 25px" %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
