---
title: Sileo
body_id: page1
has_slider: true
---
<!-- content -->
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="border-bot margin-bot">
        <article class="grid_12">
          <div class="aligncenter inner-top"> <strong class="title-1">SILEO to profesjonalne i kreatywne szkolenia</strong> <strong class="title-2">dla osób prywatnych, firm i placówek administracji publiczej.</strong> </div>
        </article>
        <div class="clear"></div>
      </div>
      <div class="wrapper">
        <article class="grid_5 suffix_1 spacer-2">
          <p class="img-indent-bot">Organizujemy kursy m.in. z zakresu pedagogiki specjalnej, profilaktyki społecznej czy arteterapii. W ramach współpracy z Grupą MIGAWKI prowadzimy również zajęcia z języka migowego, dostosowane do potrzeb określonych grup wiekowych i zawodowych. SILEO dysponuje wykwalifikowaną
kadrą oraz nowoczesnym sprzętem szkoleniowym, umożliwiającą m.in. szybką i rzetelną ewaluację przeprowadzonych kursów. To dzięki temu szkolenia SILEO są tak efektywne!</p>
Aby zapoznać się z ofertą szkoleń kliknij <%= link_to "TUTAJ >>", "/offer.html" %> </article>
        <article class="grid_6">
          <%= image_tag "natalia_woszczek.jpg", class:"pull-left media-object img-polaroid", style: "float: left; padding-right: 10px" %>
          <p class="img-indent-bot">Na Twoje pytania odpowie: <strong>Natalia&nbsp;Woszczek</strong> – Właścicielka firmy SILEO, pedagog specjalny, lektorka języka migowego, arteterapeutka. Tematyką kultury Głuchych zajmuje się na co dzień, współtworząc Grupę MIGAWKI, zajmującą się popularyzacją języka migowego. Pasjonatka teatru, absolwentka Studium Terapii przez Sztukę w Teatrze Ludowym.</p>
          <p class="img-indent-bot">Zadzwoń (795 886 779)<br>lub wypełnij <%= link_to "formularz kontaktowy >>", "/contacts.html" %></p>
          </article>
      </div>
    </div>
  </div>
</section>

