---
title: Sileo
---
<p class="lead">SILEO to profesjonalne i kreatywne szkolenia dla osób prywatnych, firm i placówek administracji publiczej. </span></p><p>Organizujemy kursy m.in. z zakresu pedagogiki specjalnej, profilaktyki społecznej czy arteterapii. W ramach współpracy z Grupą MIGAWKI prowadzimy również zajęcia z języka migowego, dostosowane do potrzeb określonych grup wiekowych i zawodowych. SILEO dysponuje wykwalifikowaną
kadrą oraz nowoczesnym sprzętem szkoleniowym, umożliwiającą m.in. szybką i rzetelną ewaluację przeprowadzonych kursów. To dzięki temu szkolenia SILEO są tak efektywne!</p>

<p>Aby zapoznać się z ofertą szkoleń kliknij <%= link_to "TUTAJ", "/offer.html" %></p>
<p>Masz pytania? Zadzwoń (795 886 779) lub wypełnij <%= link_to "formularz kontaktowy >>", "/contact.html" %></p>
<div class="media">
  <%= image_tag "natalia_woszczek.jpg", class:"pull-left media-object img-polaroid" %>
  <div class="media-body">
    <div class="media">
      <p>Na Twoje pytania odpowie <strong>Natalia Woszczek</strong> – Właścicielka firmy SILEO, pedagog specjalny, lektorka języka migowego, arteterapeutka. Tematyką kultury Głuchych zajmuje się na co dzień, współtworząc Grupę MIGAWKI, zajmującą się popularyzacją języka migowego. Pasjonatka teatru, absolwentka Studium Terapii przez Sztukę w Teatrze Ludowym.</p>
    </div>

</div>

