---
  body_id: page4
---
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="border-bot margin-bot">
        <article class="grid_12">
          <div class="aligncenter inner-top"> <strong class="title-1">&quot;Bring harmony to your family!&quot;</strong> <strong class="title-2">You have to be persistent to establish and maintain healthy, two-way communication. We can help.</strong> </div>
        </article>
        <div class="clear"></div>
      </div>
      <div class="wrapper">
        <article class="grid_6">
          <h2 class="indent-bot">Our Staff</h2>
          <div class="wrapper img-indent-bot">
            <figure class="img-indent"><img src="images/page4-img1.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6 class="reg p0"><a class="link" href="#">SAM KROMSTAIN</a></h6>
              <p>Nam elit magna</p>
              Fam nec risus in urna tempor placerat non a erat. In id velit eget purus ultricies pharetra. Quisque luctus magna neque. Praesent vitae orci non lorem gravida dapibus. Maecenas consequat pulvinar diam vel sollicitudin. </div>
          </div>
          <div class="wrapper img-indent-bot">
            <figure class="img-indent"><img src="images/page4-img3.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6 class="reg p0"><a class="link" href="#">STELLA GROSH</a></h6>
              <p>Nam elit magna</p>
              Fam nec risus in urna tempor placerat non a erat. In id velit eget purus ultricies pharetra. Quisque luctus magna neque. Praesent vitae orci non lorem gravida dapibus. Maecenas consequat pulvinar diam vel sollicitudin. </div>
          </div>
          <div class="wrapper">
            <figure class="img-indent"><img src="images/page4-img5.jpg" alt="" /></figure>
            <div class="extra-wrap">
              <h6 class="reg p0"><a class="link" href="#">ALAN SMITH</a></h6>
              <p>Nam elit magna</p>
              Fam nec risus in urna tempor placerat non a erat. In id velit eget purus ultricies pharetra. Quisque luctus magna neque. Praesent vitae orci non lorem gravida dapibus. Maecenas consequat pulvinar diam vel sollicitudin. </div>
          </div>
        </article>
        <article class="grid_6 spacer-3">
          <div class="indent2">
            <div class="wrapper img-indent-bot">
              <figure class="img-indent"><img src="images/page4-img2.jpg" alt="" /></figure>
              <div class="extra-wrap">
                <h6 class="reg p0"><a class="link" href="#">MYRA JOHNSON</a></h6>
                <p>Nam elit magna</p>
                Donec id lacus quam. Nulla sit amet nibh orci. Sed eu aliquam lectus. Sed semper porta viverra. Nulla erat dui, luctus vitae interdum quis, facilisis a velit hasellus eu sodales nulla raesent tincidunt bibendum leo nec. </div>
            </div>
            <div class="wrapper img-indent-bot">
              <figure class="img-indent"><img src="images/page4-img4.jpg" alt="" /></figure>
              <div class="extra-wrap">
                <h6 class="reg p0"><a class="link" href="#">JESSICA POOL</a></h6>
                <p>Nam elit magna</p>
                Donec id lacus quam. Nulla sit amet nibh orci. Sed eu aliquam lectus. Sed semper porta viverra. Nulla erat dui, luctus vitae interdum quis, facilisis a velit hasellus eu sodales nulla raesent tincidunt bibendum leo nec. </div>
            </div>
            <div class="wrapper">
              <figure class="img-indent"><img src="images/page4-img6.jpg" alt="" /></figure>
              <div class="extra-wrap">
                <h6 class="reg p0"><a class="link" href="#">JOHN FRANKLIN</a></h6>
                <p>Nam elit magna</p>
                Donec id lacus quam. Nulla sit amet nibh orci. Sed eu aliquam lectus. Sed semper porta viverra. Nulla erat dui, luctus vitae interdum quis, facilisis a velit hasellus eu sodales nulla raesent tincidunt bibendum leo nec. </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
