<div class="row">
  <div class="offset1 span10">
    <p>Dziękujemy za skorzystanie z naszego formularza kontaktowego.</p>
    <p>Zapraszamy do odwiedzenia nas na <%= link_to "facebooku", "#" %>.</p>
  </div>
</div>
